{% capture content %}

<main role="main" class="row">
	<div class="col span_16">
		<div class="title">
			<h1 class="center">{{ current.title }}</h1>
			<div class="description">{{ current.meta.description }}</div>
		</div>
		<p>
			S&C Electric Company manufactures equipment vital to the American power grid. Maintaining this equipment traditionally requires the expertise of highly skilled engineers. Rather than rely exclusively on these experts, S&C partnered with Viget to design a new mobile app that empowers a broader base of electric company workers.
		</p>
		<p>
			Given the technical nature of the project, significant time and energy was devoted to discovery. What was the current maintenance process like? Who was involved? What were the technical requirements? And how would a new mobile app fit into all of this?
		</p>
		<p>
			After multiple stakeholder conversations, I created an experience map. The diagram visualizes the app's primary functions and interactions. More importantly, it documents the collective understanding of all those involved in the project.
		</p>
		<a href="/assets/sandc-map-large.png" class="expand-set" target="_blank">
			<img class="border collapsed-alt" src="/assets/sandc-map-small.png">
			<div class="expand-box-alt">Expand</div>
		</a>
		<p>
			Fundamentally, the app allows workers in the field to find and connect to S&C equipment in order to retrieve data and update firmware. It exposes valuable information and automates necessary processes.
		</p>
		<img src="/assets/sandc-screens-1.png">
		<p>
			The interface intentionally adheres to official Android guidelines. It employs established design patterns to minimize the learning curve while allowing developers to focus on the underlying functionality.
		</p>
		<p>
		Overall, the design of the S&C mobile app is practical, purposefully optimized for efficiency over interactivity.
		</p>
		<p>
		To conclude the engagement, design assets supporting both success and failure scenarios as well as requirement and specification documents were delivered to S&C.
		</p>
		<img src="/assets/sandc-screens-2.png">
		<img src="/assets/sandc-screens-3.png">
	</div>
</main>

{% include footer.html %}

{% endcapture %}

{% include default.html %}