{% capture content %}

<main role="main" class="row">
	<div class="col span_16">
		<div class="title">
			<h1 class="center">{{ current.title }}</h1>
			<div class="description">{{ current.meta.description }}</div>
		</div>
		<p>
			The American Action Forum is a public policy institute and a respected voice in national politics. Seeking to better demonstrate its responsiveness and influence in the ongoing political debate, AAF tapped Viget to design and build its new content-centered website and CMS.
		</p>
		<p>
			With an expanding roster of over 30 policy experts, AAF generates a considerable amount of content across many topics. To accommodate this and to solicit feedback early, I offered two abstracted homepage directions.
		</p>
		<img src="/assets/aaf-diagram.png">
		<p>
			<em>Concept A</em> featured a traditional topic-based homepage layout and hierarchy not unlike many similar think tanks. <em>Concept B</em> amplified the recency of AAF's writing by organizing articles in a feed while elevating topic filters and search.
		</p>
		<p>
		Based on our recommendation, AAF approved <em>Concept B</em> for its modern app-like design and its ability to be a utility for Capitol Hill professionals, the organization's primary audience.
		</p>
		<div class="expand-set">
			<img class="border collapsed" src="/assets/aaf-home-small.png">
			<div class="expand-box">Expand</div>
			<img class="border expanded" src="/assets/aaf-home-large.png">
		</div>
		<p>
			In its final definition, the homepage stream accommodates a variety of content types from serialized posts, to longer research pieces, to quotes, tweets, and links to external publications. Evergreen links on the right along with topic filters and search at the top provide visitors several immediate methods to navigate the site.
		</p>
		<div class="expand-set">
			<img class="border collapsed" src="/assets/aaf-profile-small.png">
			<div class="expand-box">Expand</div>
			<img class="border expanded" src="/assets/aaf-profile-large.png">
		</div>
		<p>
			As design and build-out neared completion, I conducted a click study with a small group of AAF contacts to validate aspects of the design. One interesting question involved social sharing. Asked where they would click to share an article, participants were split between the box and arrow icon on the left and the logos in the main navigation menu.
		</p>
		<img src="/assets/aaf-test.png">
		<p>
			For nearly half of participations, the distinction between the act of sharing a piece of content compared to navigating to the Facebook and Twitter presences of a particular organization was not significant. Based on this result, the final implementation was modified to include icon labels.
		</p>
		<p>
			Overall, the new American Action Forum website succeeds as an advanced publishing platform crafted specifically for the Capitol Hill audience.
		</p>
	</div>
</main>

{% include footer.html %}

{% endcapture %}

{% include default.html %}