{% capture content %}

<main role="main" class="row">
	<div class="col span_16">
		<div class="title">
			<h1 class="center">{{ current.title }}</h1>
		</div>
		<img class="border" src="/assets/haring-large.jpg">
		<p>
			Artist and social activist <a href="http://en.wikipedia.org/wiki/Keith_Haring">Keith Haring</a> is best known for his 1980s pop-art that began with chalk drawings in the subways of New York City. By the end of the decade he was internationally renown for his work.
		</p>
		<p>
			The quote above was written circa-1987 in a note to a fan and aspiring artist. The full letter can be found <a href="http://www.lettersofnote.com/2011/01/dont-do-it-for-anyone-else.html">here</a>.
		</p>
		<p>
			The quote, as I have presented it, is intended for large format printing. I have sought to preserve the handwriting characteristics while offering a clean presentation beyond simple enlargement. At full resolution, the image appears like the captures below.
		</p>
		<p>
			<a href="/work/the-handwritten-word/about">Read more about this project.</a>
		</p>
		<img class="border" src="/assets/haring-detail.jpg">
		<img class="border" src="/assets/haring-detail2.jpg">
	</div>
</main>

{% include footer.html %}

{% endcapture %}

{% include default.html %}