{% capture content %}

<main role="main" class="row">
	<div class="col span_16">
		<div class="title">
			<h1 class="center">{{ current.title }}</h1>
		</div>

		<a href="/work/the-handwritten-word/haring"><img class="border" src="/assets/haring-large.jpg"></a>
		<h4><a href="/work/the-handwritten-word/haring">– Keith Haring</a></h4>

		<a href="/work/the-handwritten-word/warhol"><img class="border" src="/assets/warhol-large.jpg"></a>
		<h4><a href="/work/the-handwritten-word/warhol">– Andy Warhol</a></h4>

		<a href="/work/the-handwritten-word/wright"><img class="border" src="/assets/wright-large.jpg"></a>
		<h4><a href="/work/the-handwritten-word/wright">– Wilbur Wright</a></h4>

	</div>
</main>

{% include footer.html %}

{% endcapture %}

{% include default.html %}