{% capture content %}

<main role="main" class="row">
	<div class="col span_16">
		<div class="title">
			<h1 class="center">{{ current.title }}</h1>
			<div class="description">{{ current.meta.description }}</div>
		</div>
		<p>
			MedeAnalytics builds powerful analytics tools for the healthcare system. In late 2013, the company refreshed its brand identity, and I led the redesign effort to overhaul the design and information architecture of its public website.
		</p>
		<p>
			Redesigns, especially in complex industries like healthcare, deserve adequate research. In addition to reviewing company content and surveying competitors, web traffic data provided a solid foundation for key information architecture decisions.
		</p>
		<img class="border" src="/assets/medeanalytics-graph.png">
		<p>
			Of particular interest was the primary navigation. Data showed two links – <em>Company</em> and <em>Solutions</em> – accounting for the majority of traffic. Comparatively, options similar in definition to <em>Solutions</em> – <em>Services</em>, <em>Consulting</em>, and <em>Technology</em> – accounted for far less traffic and highlighted potential confusion among users.
		</p>
		<p>
			In the new website, <em>Solutions</em> is used exclusively in the primary navigation. This represents the main point of entry for healthcare administrators interested in what they can buy from MedeAnalytics.
		</p>
		<div class="expand-set">
			<img class="border collapsed" src="/assets/medeanalytics-home-small.png">
			<div class="expand-box">Expand</div>
			<img class="border expanded" src="/assets/medeanalytics-home-large.png">
		</div>
		<p>
		Hovering over the <em>Solutions</em> link reveals a menu of options organized by audience and business issue. If specific solution names don’t immediately resonate, healthcare administrators can match the problem they are looking to solve with the list of business issues on the right.
		</p>
		<img class="border" src="/assets/medeanalytics-menu.png">
		<p>
		Selecting a business issue in this menu or on the homepage, leads to a subset of solutions with further explanation. In general, this approach seeks to address the complexity of MedeAnalytics’ work by exposing multiple paths of navigation.
		</p>
		<div class="expand-set">
			<img class="border collapsed" src="/assets/medeanalytics-solutions-small.png">
			<div class="expand-box">Expand</div>
			<img class="border expanded" src="/assets/medeanalytics-solutions-large.png">
		</div>
		<p>
		The final product is a fully responsive design that offers MedeAnalytics the flexibility to effectively market its business.
		</p>
		<div class="expand-set">
			<img class="border collapsed" src="/assets/medeanalytics-resources-small.png">
			<div class="expand-box">Expand</div>
			<img class="border expanded" src="/assets/medeanalytics-resources-large.png">
		</div>
		<img src="/assets/medeanalytics-mobile.png">
	</div>
</main>

{% include footer.html %}

{% endcapture %}

{% include default.html %}