{% capture content %}

<main role="main" class="row">
	<div class="col span_16">
		<div class="title">
			<h1 class="center">{{ current.title }}</h1>
		</div>
		<img class="border" src="/assets/warhol-large.jpg">
		<p>
			The quote “my life couldn’t fill a penny post card” was written by a 21-year-old <a href="http://en.wikipedia.org/wiki/Andy_Warhol">Andy Warhol</a> in response to a magazine request for biographical information. The year was 1949 and Andy Warhol’s rise to cultural fame was only just beginning. The full note is show below. The original may be found <a href="http://www.aaa.si.edu/collections/images/detail/andy-warhol-letter-to-russell-lynes-5671">here</a> and a transcript can be read <a href="http://www.lettersofnote.com/2010/01/my-life-couldnt-fill-penny-postcard.html">here</a>.
		</p>
		<p>
			The quote, as I have presented it, is intended for large format printing. I have sought to preserve the handwriting characteristics while offering a clean presentation beyond simple enlargement. At near full resolution, the image appears like the capture below.
		</p>
		<p>
			<a href="/work/the-handwritten-word/about">Read more about this project.</a>
		</p>
		<img class="border" src="/assets/warhol-detail.jpg">
		<img class="border" src="/assets/warhol-detail2.jpg">
	</div>
</main>

{% include footer.html %}

{% endcapture %}

{% include default.html %}