{% capture content %}

<main role="main" class="row">
	<div class="col span_16">
		<div class="title">
			<h1 class="center">{{ current.title }}</h1>
		</div>
		<img class="border" src="/assets/wright-large.jpg">
		<p>
			"Flight is a possible to man" is a quote from Wilbur Wright written on May 13, 1900. Wilbur along with his brother Orville are credited with building the first airplane.
		</p>
		<p>
			The handwritten text is sourced from a letter Wilbur Wright wrote to renowned engineer Octave Chanute outlining their future plans for flight and seeking guidance. The original five page letter can be found <a href="http://lcweb2.loc.gov/cgi-bin/ampage?collId=mcc&fileName=006/page.db&recNum=0&itemLink=r?ammem/mcc:@field(DOCID+@lit(mcc/006))">here</a> and a full transcript can be found <a href="http://www.lettersofnote.com/2009/11/flight-is-possible-to-man.html">here</a>.
		<p>
			The quote, as I have presented it, is intended for large format printing. I have sought to preserve the handwriting characteristics while offering a clean presentation beyond simple enlargement. At near full resolution, the image appears like the capture below.
		</p>
		<p>
			<a href="/work/the-handwritten-word/about">Read more about this project.</a>
		</p>
		<img class="border" src="/assets/wright-detail.jpg">
		<img class="border" src="/assets/wright-detail2.jpg">
	</div>
</main>

{% include footer.html %}

{% endcapture %}

{% include default.html %}