{% capture content %}

<main role="main" class="row">
	<div class="col span_16">

		<div class="title">
			<h1 class="center">
				{{ current.title }}
			</h1>
		</div>

		<div class="first-square">
			<img src="/assets/polyhedron.svg" class="svg">
		</div>
		<div class="last-square">
			<img src="/assets/untitled.svg" class="svg">
		</div>
		<div class="first-square">
			<img src="/assets/waves.svg" class="svg">
		</div>
		<div class="last-square">
			<img src="/assets/halftone.svg" class="svg">
		</div>
		<div class="first-square">
			<img src="/assets/blocks.svg" class="svg">
		</div>
		<div class="last-square">
			<img src="/assets/five.svg" class="svg">
		</div>

	</div>
</main>

{% include footer.html %}

{% endcapture %}

{% include default.html %}